.aboutMe {
  height: 600px;
  background-color: #121212;
  color: #fff;
  text-align: center;
}
@media (max-width: 900px) {
  .aboutMe {
    height: 750px;
  }
}
@media (max-width: 600px) {
  .aboutMe {
    height: 1100px;
  }
}

h1 {
  padding-top: 60px;
  font-size: 60px;
}

.gridItem {
  color: #222;
}

.formBoxes {
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
