.skills {
  height: 950px;
  background-color: #c7c7c7;
  color: #000;
  text-align: center;
}

@media (max-width: 899.9px) {
  .skills {
    height: 1150px;
  }
}
@media (max-width: 599.9px) {
  .skills {
    height: 1400px;
  }
  .frontendFrame {
    width: 90%;
    max-width: 350px;
  }
  .backendFrame {
    width: 90%;
    max-width: 350px;
  }
  .deploymentFrame {
    width: 90%;
    max-width: 350px;
  }
}

.title {
  padding: 40px 0 40px 0;
  font-size: 60px;
  font-weight: 600;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.frontendFrame {
  background-color: #d3d3ff;
  width: 850px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  color: #4343dd;
  border-radius: 20px;
}

.frontendText {
  padding-bottom: 10px;
}

.frontendBorder {
  width: 100%;
  height: 1px;
  background-color: #4343dd;
}

.frontendContent {
  padding: 20px 10px 10px 10px;
}

.backendFrame {
  background-color: #ffd3d3;
  width: 850px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  color: #dd4343;
  border-radius: 20px;
}

.backendText {
  padding-bottom: 10px;
}

.backendBorder {
  width: 100%;
  height: 1px;
  background-color: #dd4343;
}

.backendContent {
  padding: 20px 10px 10px 10px;
}

.deploymentFrame {
  background-color: #ededa7;
  width: 850px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  color: #999927;
  border-radius: 20px;
}

.deploymentText {
  padding-bottom: 10px;
}

.deploymentBorder {
  width: 100%;
  height: 1px;
  background-color: #999927;
}

.deploymentContent {
  padding: 20px 10px 10px 10px;
}

@media (max-width: 899.9px) {
  .frontendFrame {
    width: 500px;
  }
  .backendFrame {
    width: 500px;
  }
  .deploymentFrame {
    width: 500px;
  }
}
